<p class="fs-3 fw-bolder">คลิปวิธีการตรวจบ้าน</p>
<div class="dropdown">
    <a class="btn btn-secondary btn-lg dropdown-toggle-video" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false" style="width: 100% !important;">
        หมวดงานระบบไฟฟ้า
    </a>
    <ul class="dropdown-menu" style="width: 100% !important;">
        <li><a class="dropdown-item" href="#">หมวดงานระบบไฟฟ้า</a></li>
        <li><a class="dropdown-item" href="#">หมวดงานระบบสุขาภิบาล</a></li>
        <li><a class="dropdown-item" href="#">หมวดงานรั่วซึม</a></li>
        <li><a class="dropdown-item" href="#">หมวดงานหลังคา</a></li>
        <li><a class="dropdown-item" href="#">หมวดงานสถาปัตยกรรม</a></li>
    </ul>
</div>