<%- include('partials/navbar.ejs') %>
<div class="container">
    <header>
        <h1 class="fw-semibold">หมวดงานสถาปัตยกรรม</h1>
    </header>
    <main>
        <!-- Content goes here -->
        <h2>งานพื้น</h2>
        <section>- ตรวจสอบระดับความสูง และระนาบพื้น
        </section>
        <section>- ตรวจสอบรอยต่อขึ้นตะเข็บ,พื้นโก่งตัว,และรอยต่อห่าง(พื้นไม้ลามิเนต)
        </section>
        <section>- ตรวจสอบสีพื้นไม้ (พื้นไม้ลามิเนต ,พื้นไม้ปาเก้)
        </section>
        <section>- ตรวจสอบพื้นไม้ร่อน (พื้นไม้ปาเก้)
        </section>
        <section>- ความเรียบร้อยของงานกระเบื้อง (ร่อนเป็นโพลง,แตกร้าว,สีไม่เหมือน,งานยาแนว,ระดับ)
        </section>
        <section>- ตรวจสอบความลาดเอียง (Slope)
        </section>
        <br>
        <h3>พื้นคอนกรีต, พื้นคอนกรีตแสตมป์และพื้นทรายล้าง
        </h3>
        <section>- ตรวจสอบสภาพความเรียบร้อยของผิวพื้น บิ่น/ไม่เรียบ/แตกร้าว
        </section>
        <section>- ตรวจสอบความแน่นของพื้นปูน โปร่ง/ร่อน
        </section>
        <section>- ตรวจสอบสภาพผิวสีและความสวยงาม สีด่าง/สีเพี้ยน
        </section>
        <section>- ตรวจสอบ slope การระบายน้ำบนพื้น
        </section>
        <br>
        <h3>พื้นกระเบื้อง
        </h3>
        <section>- ตรวจสอบสภาพความเรียบร้อยของแผ่นกระเบื้อง บิ่น/แตก/ตัดผิดขนาด
        </section>
        <section>- ตรวจสอบสภาพความสวยงามของแผ่นกระเบื้อง ด่าง/เป็นรอย/สีเพี้ยน
        </section>
        <section>- ตรวจสอบความแน่นของพื้นปูนใต้แผ่นกระเบื้อง โปร่ง/ร่อน
        </section>
        <section>- ตรวจสอบความเรียบร้อยในการติดตั้งพื้นกระเบื้อง ปูชิด/ปูห่าง/ไม่เรียบ/กระเดิด
        </section>
        <section>- ตรวจสอบสภาพความเรียบร้อยของยาแนวรอยต่อแผ่นกระเบื้อง
        </section>
        <section>- ตรวจสอบ slope การระบายน้ำบนพื้น
        </section>
        <br>
        <h3>พื้นไม้</h3>
        <section>- ตรวจสอบสภาพความเรียบร้อยของแผ่นพื้น บิ่น/แตก/ตัดผิดขนาด
        </section>
        <section>- ตรวจสอบสภาพความสวยงามของแผ่นพื้น ด่าง/เป็นรอย/สีเพี้ยน
        </section>
        <section>- ตรวจสอบความเรียบร้อยในการติดตั้งแผ่นพื้น ปูห่าง/ไม่เรียบ/ขึ้นตะเข็บ
        </section>
        <section>- ตรวจสอบความแน่นของพื้นไม้ โปร่ง/ร่อน/ยวบ/ลั่น
        </section>
        <br>
        <h2>ฝ้าเพดาน
        </h2>
        <section>- ตรวจสอบระดับฝ้าเพดาน
        </section>
        <section>- งานผิวสี และความสวยงาม
        </section>
        <section>- ตรวจสอบรอยต่อระหว่างแผ่นฝ้าเพดาน
        </section>
        <section>- ตรวจสอบรอยต่อระหว่างแผ่นฝ้าเพดานกับผนัง
        </section>
        <section>- ตรวจสอบการใช้งานช่องฝ้าเพดานเซอร์วิส
        </section>
        <br>
        <h2>ผนังภายนอก ภายใน บัวเชิงผนัง
        </h2>
        <section>- รอยแตกร้าว และผิวสีความสวยงาน ปูนร่อน
        </section>
        <section>- ตรวจสอบการได้ดิ่ง,มุม,ฉาก,บิดเบี้ยวไม่ได้แนว
        </section>
        <section>- ความเรียบร้อยของงานกระเบื้อง (ร่อนร่อนเป็นโพลง,แตกร้าว,สีไม่เหมือน,งานยาแนว)
        </section>
        <section>- ความเรียบร้อยของผนัง ผนัง wallpaper (ขีดข่วน,ฉีกขาด,หลุนล่อน,สีไม่เหมือน,รอบเปื้อน,คราบสกปรก)
        </section>
        <section>- ความเรียบร้อยผนังแผงไม้ประดับ
        </section>
        <section>- ตรวจสอบงานผิวสี และความสวยงาม
        </section>
        <section>- ตรวจสอบงานรอยต่อ และเหลี่ยมมุมฉาก (บัว)
        </section>
        <br>
        <h2>ประตู-หน้าต่าง
        </h2>
        <section>- ตรวจสอบการใช้งานของอุปกรณ์ทั้งหมด
        </section>
        <section>- ตรวจสอบการน้ำรั่วซึมบริเวณรอยต่อเฟรม และขอบผนัง
        </section>
        <section>- ตรวจสอบความสวยงานผิว, สี และเหลี่ยมมุมฉาก
        </section>
        <section>- ตรวจสอบรอยขีดข่วนเฟรม และกระจก
        </section>
        <section>- ตรวจสอบระนาบ และระดับ
        </section>
        <br>
        <h2>บันได
        </h2>
        <section>- ตรวจสอบงานผิวสี และความสวยงานทั่วไป
        </section>
        <section>- ตรวจสอบระดับความสูงของลูกตั้ง และความกว้างลูกนอนบันได
        </section>
        <section>- ตรวจสอบการใช้งาน และความสวยงามเหล็กราวกันตก
        </section>
        <section>- ตรวจสอบการติดตั้ง และความแข็งแรงของโครงสร้าง
        </section>
        <br>
        <h2>งานห้องน้ำ
        </h2>
        <section>- ตรวจสอบตำแหน่งการติดตั้งสุขภัณฑ์ และสเปกวัสดุ
        </section>
        <section>- ตรวจสอบการใช้งานของอุปกรณ์ และสุขภัณฑ์
        </section>
        <section>- ตรวจสอบทิศทางการไหลของน้า
        </section>
        <br>
        <h2>งานสวนและบริเวณภายนอกตัวบ้าน
        </h2>
        <section>- ตรวจสอบระดับพื้นดินจัดสวนโดยรอบบ้าน
        </section>
        <section>- ตรวจสอบการลาดเอียงขอบพื้นบริเวณจัดสวน
        </section>
        <section>- ตรวจสอบความเรียบร้อยของการจัดสวน และไม้พุ่ม
        </section>
        <section>- ตรวจสอบระดับบ่อพักโดยรอบบ้าน
        </section>
        <section>- ตรวจสอบความแข็งแรงของผนังรั้ว
        </section>
        <section>- ตรวจสอบการใช้งานประตูรั้ว และรั้วเหล็กโปร่ง
        </section>
        <section>- ตรวจสอบการใช้งาน และการติดตั้งชุดตู้จดหมายป้ายบ้านเลขที่
        </section>
        <section>- ตรวจสอบน้ำขังบริเวณรางประตู และพื้นทางขึ้น
        </section>

    </main>
</div>
<%- include('partials/footer.ejs') %>