<%- include('partials/navbar.ejs') %>
    <br>
        <div class="container pb-5">
            <header>
                <h1 class="fw-bold color-navy">หมวดงานสถาปัตยกรรม</h1>
            </header>
            <main>
                <!-- Content goes here -->
                <h5 class="fw-semibold">งานพื้น</h5>
                <h6 class="fw-semibold">พื้นคอนกรีต, พื้นคอนกรีตแสตมป์และพื้นทรายล้าง
                </h6>
                <section>- ตรวจสอบสภาพความเรียบร้อยของผิวพื้น (ผิวพื้นต้องไม่มีรอยบิ่น/ตำหนิ/แตกร้าว/ไม่เรียบ)
                </section>
                <section>- ตรวจสอบความแน่นของพื้นปูน (พื้นปูนต้องแน่น ไม่มีโปร่ง/ร่อน)
                </section>
                <section>- ตรวจสอบสภาพผิวสีและความสวยงาม (สีพื้นต้องไม่ด่าง/สีเพี้ยน)
                </section>
                <section>- ตรวจสอบ slope การระบายน้ำบนพื้น (ต้องไม่มีน้ำขังบนพื้น)
                </section>
                <br>
                <h6 class="fw-semibold">พื้นกระเบื้อง
                </h6>
                <section>- ตรวจสอบสภาพความเรียบร้อยของแผ่นกระเบื้อง (กระเบื้องต้องไม่มีรอยบิ่น/แตก/เจาะผิด
                    และขนาดของแผ่นกระเบื้องต้องเหมาะสมพอดีกับจุดที่ติดตั้ง)
                </section>
                <section>- ตรวจสอบสภาพความสวยงามของแผ่นกระเบื้อง (กระเบื้องต้องไม่ด่าง/เป็นรอย/สีเพี้ยน)
                </section>
                <section>- ตรวจสอบความแน่นของพื้นปูนใต้แผ่นกระเบื้อง (พื้นปูนต้องแน่น ไม่มีโปร่ง/ร่อน)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งพื้นกระเบื้อง (การปูกระเบื้องต้องไม่ชิดกัน/ห่างกันจนเกินไป,
                    รอยต่อแผ่นกระเบื้องต้องไม่กระเดิด/ไม่เรียบ และการเข้ามุมกระเบื้องต้องได้มุม 45 องศาพร้อมลบคมมุม)
                </section>
                <section>- ตรวจสอบสภาพความเรียบร้อยของยาแนวรอยต่อแผ่นกระเบื้อง
                    (ยาแนวรอยต่อแผ่นกระเบื้องต้องเต็มทั้งหมดและไม่มีคราบสกปรก)
                </section>
                <section>- ตรวจสอบ slope การระบายน้ำบนพื้น (ต้องไม่มีน้ำขังบนพื้น)
                </section>
                <br>
                <h6 class="fw-semibold">พื้นหินอ่อน
                </h6>
                <section>- ตรวจสอบสภาพความเรียบร้อยของพื้นหินอ่อน (หินอ่อนต้องไม่มีรอยบิ่น/แตก/เจาะผิด
                    และขนาดของแผ่นต้องเหมาะสมพอดีกับจุดที่ติดตั้ง)
                </section>
                <section>- ตรวจสอบสภาพความสวยงามของพื้นหินอ่อน (หินอ่อนต้องไม่ด่าง/เป็นรอย/มีคราบเหลือง/สีเพี้ยน)
                </section>
                <section>- ตรวจสอบความแน่นของพื้นปูนใต้พื้นหินอ่อน (พื้นปูนต้องแน่น ไม่มีโปร่ง/ร่อน
                    โดยต้องตรวจสอบสเปคความหนาของพื้นหินอ่อนก่อนด้วย)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งพื้นหินอ่อน (การปูพื้นหินอ่อนต้องไม่ชิดกัน/ห่างกันจนเกินไป,
                    รอยต่อพื้นหินอ่อนต้องไม่กระเดิด/ไม่เรียบ และการเข้ามุมต้องได้มุม 45 องศาพร้อมลบคมมุม)
                </section>
                <section>- ตรวจสอบสภาพความเรียบร้อยของยาแนวรอยต่อพื้นหินอ่อน
                    (ยาแนวรอยต่อพื้นหินอ่อนต้องเต็มทั้งหมดและไม่มีคราบสกปรก)
                </section>
                <section>- ตรวจสอบ slope การระบายน้ำบนพื้น (ต้องไม่มีน้ำขังบนพื้น)
                </section>
                <br>
                <h6 class="fw-semibold">พื้นไม้</h6>
                <section>- ตรวจสอบสภาพความเรียบร้อยของแผ่นพื้น (แผ่นพื้นต้องไม่มีรอยบิ่น/บวม/แตก/เจาะผิด
                    และขนาดของแผ่นพื้นต้องเหมาะสมพอดีกับจุดที่ติดตั้ง)
                </section>
                <section>- ตรวจสอบสภาพความสวยงามของแผ่นพื้น (แผ่นพื้นต้องไม่ด่าง/เป็นรอย/สีเพี้ยน)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งแผ่นพื้น
                    (การปูแผ่นพื้นต้องไม่ห่างกันจนเกินไปและรอยต่อแผ่นพื้นต้องไม่ขึ้นตะเข็บ/ไม่เรียบ)
                </section>
                <section>- ตรวจสอบความแน่นของพื้นไม้ (แผ่นพื้นต้องไม่ยวบลงหรือเหยียบแล้วมีเสียงไม้ลั่นเวลาเดิน
                    และพื้นต้องแน่น
                    ไม่มีโปร่ง/ร่อน ในกรณีพื้นไม้ปาร์เก้)
                </section><br>
                <h5 class="fw-semibold">งานผนัง
                </h5>
                <h6 class="fw-semibold">ผนังฉาบ
                </h6>
                <section>- ตรวจสอบสภาพความเรียบร้อยของผนัง (ผนังต้องไม่มีรอยแตกร้าวและผิวเรียบเสมอกัน)
                </section>
                <section>- ตรวจสอบสภาพความสวยงามของผนัง (สีผนังต้องไม่ด่าง/ไม่ขึ้นเม็ด/ไม่พอง/ไม่มีรอยขนแปรง)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการก่อฉาบผนัง (มุมผนังหลังฉาบต้องได้ฉาก/ไม่เบี้ยว/ไม่เลื้อย)
                </section>
                <section>- ตรวจสอบความเรียบร้อยของรอยต่อผนัง (ซิลิโคนรอยต่อระหว่างผนังกับโครงสร้างอื่นๆ
                    และในกรณีรอยต่อผนังเป็นคนละสี ต้องมีการกันสีรอยต่อให้เรียบร้อย)
                </section>
                <br>
                <h6 class="fw-semibold">ผนังกระเบื้อง
                </h6>
                <section>- ตรวจสอบสภาพความเรียบร้อยของแผ่นกระเบื้อง (กระเบื้องต้องไม่มีรอยบิ่น/แตก/เจาะผิด
                    และขนาดของแผ่นกระเบื้องต้องเหมาะสมพอดีกับจุดที่ติดตั้ง)
                </section>
                <section>- ตรวจสอบสภาพความสวยงามของแผ่นกระเบื้อง (กระเบื้องต้องไม่ด่าง/เป็นรอย/สีเพี้ยน)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งพื้นกระเบื้อง (การปูกระเบื้องต้องไม่ชิดกัน/ห่างกันจนเกินไป,
                    รอยต่อแผ่นกระเบื้องต้องไม่กระเดิด/ไม่เรียบ และการเข้ามุมกระเบื้องต้องได้มุม 45 องศาพร้อมลบคมมุม)
                </section>
                <section>- ตรวจสอบสภาพความเรียบร้อยของยาแนวรอยต่อแผ่นกระเบื้อง
                    (ยาแนวรอยต่อแผ่นกระเบื้องต้องเต็มทั้งหมดและไม่มีคราบสกปรก)
                </section>
                <br>
                <h6 class="fw-semibold">ผนังหินตกแต่ง
                </h6>
                <section>- ตรวจสอบสภาพความเรียบร้อยของแผ่นผนังหิน (แผ่นผนังหินต้องไม่มีรอยบิ่น/แตก)
                </section>
                <section>- ตรวจสอบสภาพความสวยงามของแผ่นผนังหิน (แผ่นผนังหินต้องไม่ด่าง/เป็นรอย/สีเพี้ยน/ไม่มีคราบเลอะ)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งแผ่นผนังหิน
                    (การปูแผ่นผนังหินต้องไม่ห่างกันจนเกินไปและติดตั้งให้สุดผนัง)
                </section>
                <br>
                <h6 class="fw-semibold">ผนังวอลล์เปเปอร์
                </h6>
                <section>- ตรวจสอบสภาพความเรียบร้อยของผนังก่อนติดตั้งวอลล์เปเปอร์ (ผนังต้องไม่มีรอยแตกร้าว, นูน ขึ้นเม็ด
                    และผิวต้องเรียบเสมอกัน)
                </section>
                <section>- ตรวจสอบสภาพความเรียบร้อยของผนังวอลล์เปเปอร์
                    (วอลล์เปเปอร์ต้องไม่ขาด/ถลอก/ด่าง/ขึ้นเชื้อรา/สีเพี้ยน)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งวอลล์เปเปอร์ (รอยต่อผนังวอลล์เปเปอร์,
                    รอยต่อขอบเฟรมและรอยต่อวงกบประตูต้องทำการรีดกาวให้เรียบ/ไม่หลุดร่อน)
                </section>
                <br>
                <h5 class="fw-semibold">งานฝ้าเพดาน
                </h5>
                <section>- ตรวจสอบสภาพความเรียบร้อยของฝ้า (ฝ้าต้องไม่มีรอยแตกร้าวและผิวเรียบเสมอกัน)
                </section>
                <section>- ตรวจสอบสภาพความสวยงามของฝ้า (สีฝ้าต้องไม่ด่าง/ไม่ขึ้นเม็ด/ไม่พอง/ไม่มีรอยขนแปรง)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการฉาบฝ้า (มุมฝ้าต้องได้ฉาก/ไม่เบี้ยว/ไม่เลื้อย)
                </section>
                <section>- ตรวจสอบความเรียบร้อยของรอยต่อฝ้า (การเก็บงานรอยต่อแผ่นฝ้า,
                    ซิลิโคนรอยต่อระหว่างฝ้ากับโครงสร้างอื่นๆ
                    และในกรณีรอยต่อฝ้ากับผนังเป็นคนละสี ต้องมีการกันสีรอยต่อให้เรียบร้อย)
                </section>
                <section>- ตรวจสอบสภาพความเรียบร้อยและการใช้งานช่องฝ้าเพดานเซอร์วิส
                    (การเจาะช่องฝ้าเซอร์วิสควรเป็นรูปทรงสี่เหลี่ยมที่ได้ฉาก/ไม่เอียง/ไม่เบี้ยว
                    และฝ้าที่ตัดมาเป็นฝาปิดต้องพอดี ปิดได้สนิท)
                </section><br>
                <h5 class="fw-semibold">งานบันได
                </h5>
                <section>- ตรวจสอบสภาพความเรียบร้อยของไม้บันไดและราวบันได
                    (ไม้บันไดและราวบันไดต้องไม่มีรอยบิ่นหรือแตกหัก)
                </section>
                <section>- ตรวจสอบสภาพความสวยงามของผิวบันไดและราวบันได
                    (สีไม้บันไดและราวบันไดต้องไม่ด่าง/ถลอก/เป็นรอย/มีสีเพี้ยน)
                </section>
                <section>- ตรวจสอบความเรียบร้อยของรอยต่อบันได (การเก็บงานรอยต่อลูกตั้ง-ลูกนอนบันได,
                    รอยต่อขอบบันไดและการติดตั้งตัวจบบันได)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งบันได (ลูกนอนบันไดต้องได้ระดับ ไม่เอียง/เชิด/แอ่น
                    และความกว้างยาวของบันไดต้องสม่ำเสมอกัน)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งราวบันได (ราวบันไดต้องแน่น
                    หากในกรณีที่มีลูกกรงบันไดต้อมทำการยิงน็อตยึดให้ครบ ทั้งหมด)
                </section>
                <section>- ตรวจสอบความแน่นของพื้นบันได (พื้นบันไดเวลาเดินเหยียบแล้วต้องแน่น/ไม่สั่น)
                </section><br>
                <h5 class="fw-semibold">งานประตู-หน้าต่าง
                </h5>
                <section>- ตรวจสอบสภาพความเรียบร้อยของประตูและหน้าต่าง (ผิวบานและวงกบประตู-หน้าต่างต้องไม่บุบ/บิ่น/แตก)
                </section>
                <section>- ตรวจสอบสภาพความสวยงามของประตูและหน้าต่าง (สีประตูและหน้าต่างต้องไม่มีรอย/ถลอก/ด่าง/ไม่เรียบ)
                </section>
                <section>- ตรวจสอบความเรียบร้อยของรอยต่อประตูและหน้าต่าง
                    (การเก็บงานรอยต่อรอบวงกบประตูและกรอบเฟรมหน้าต่าง
                    ในกรณีผนังวอลล์เปเปอร์ต้องรีดวอลล์เปเปอร์จบงานให้เรียบร้อย)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งประตู (บานประตูต้องไม่ฝืด/โก่ง/เบียด/กระพือ
                    และสามารถปิดได้สนิทพร้อมล็อคกลอนได้ปกติ)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งหน้าต่าง (เฟรมหน้าต่างต้องไม่ฝืด/เบียด/กระพือ
                    และสามารถปิดได้สนิทพร้อมล็อคกลอนได้ปกติ)
                </section>
                <section>- ตรวจสอบความเรียบร้อยของกระจกบริเวณประตูและหน้าต่าง
                    (กระจกต้องไม่มีมีรอยขีดข่วน/ตำหนิ/บิ่น/แตก)
                </section>
                <section>- ตรวจสอบความเรียบร้อยของตัวกันกระแทก (ประตูและหน้าต่างต้องมีการติดตั้ง Stopper
                    กันบานชน/กระแทก)
                </section><br>
                <h5 class="fw-semibold">งานห้องน้ำ</h5>
                <section>- ตรวจสอบสภาพความเรียบร้อยของอุปกรณ์สุขภัณฑ์
                    (อุปกรณ์สุขภัณฑ์ต้องไม่มีการแตก/หัก/ชำรุดและไม่มีคราบเก่า/ขึ้นสนิม)
                </section>
                <section>- ตรวจสอบสภาพความสวยงามของอุปกรณ์สุขภัณฑ์ (อุปกรณ์สุขภัณฑ์ต้องไม่มีรอย/คราบเหลือง/คราบสกปรก)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งอุปกรณ์สุขภัณฑ์
                    (อุปกรณ์สุขภัณฑ์ทั้งหมดต้องทำการยึดให้แน่นและไม่มีน้ำรั่วซึมจากอุปกรณ์ขณะใช้งาน)
                </section>
                <section>- ตรวจสอบการทำงานของอุปกรณ์สุขภัณฑ์ (ตรวจสอบแรงดันน้ำ
                    ฟังก์ชันการใช้งานเฉพาะและการเปิด-ปิดวาล์วต่างๆ
                    ต้องใช้งานได้ปกติ)
                </section><br>
                <h5 class="fw-semibold">งานภายนอกบ้านและงานสวน
                </h5>
                <section>- ตรวจสอบสภาพความเรียบร้อยของพื้นดินรอบตัวบ้าน
                    (พื้นที่รอบตัวบ้านต้องเติมดินและลงหญ้าให้เต็มทั้งหมด
                    หรือจบงานตามสเปคของแต่ละโครงการให้เรียบร้อย)
                </section>
                <section>- ตรวจสอบสภาพความเรียบร้อยของไม้พุ่มและแนวต้นไม้ (ไม้พุ่มและต้นไม้ต้องปลูกให้เต็มทั้งหมด
                    พร้อมจัดเรียงและตัดแต่งให้สวยงาม)
                </section>
                <section>- ตรวจสอบสภาพความเรียบร้อยของรั้วกำแพงรอบตัวบ้าน
                    (รั้วกำแพงต้องติดตั้งปิดรอบตัวบ้าน/ไม่มีช่องว่างให้คนเข้าได้ และต้องทำการยึดให้แน่นตลอดแนว)
                </section>
                <section>- ตรวจสอบสภาพความสวยงามของรั้วกำแพงรอบตัวบ้าน (สีรั้วกำแพงต้องไม่ด่าง/แตกร้าว/นูนพอง/ขึ้นสนิม)
                </section>
                <section>- ตรวจสอบความเรียบร้อยในการติดตั้งประตูรั้ว (ประตูรั้วต้องไม่ล้ม/ฝืด/เบียด/ชนปีกเสา
                    และสามารถปิดได้สนิทพร้อมล็อคกลอนได้ปกติ)
                </section>
                <section>- ตรวจสอบการติดตั้งและการใช้งานอุปกรณ์พื้นฐานภายนอกบ้าน (เช่น กริ่ง, ป้ายเลขที่บ้าน,
                    ตู้จดหมายและชุดถังขยะ ฯลฯ)
                </section>
                <!-- <h5 class="fw-semibold">งานพื้น</h5>
            <section>- ตรวจสอบระดับความสูง และระนาบพื้น
            </section>
            <section>- ตรวจสอบรอยต่อขึ้นตะเข็บ,พื้นโก่งตัว,และรอยต่อห่าง(พื้นไม้ลามิเนต)
            </section>
            <section>- ตรวจสอบสีพื้นไม้ (พื้นไม้ลามิเนต ,พื้นไม้ปาเก้)
            </section>
            <section>- ตรวจสอบพื้นไม้ร่อน (พื้นไม้ปาเก้)
            </section>
            <section>- ความเรียบร้อยของงานกระเบื้อง (ร่อนเป็นโพลง,แตกร้าว,สีไม่เหมือน,งานยาแนว,ระดับ)
            </section>
            <section>- ตรวจสอบความลาดเอียง (Slope)
            </section>
            <br>
            <h6 class="fw-semibold">พื้นคอนกรีต, พื้นคอนกรีตแสตมป์และพื้นทรายล้าง</h6>
            <section>- ตรวจสอบสภาพความเรียบร้อยของผิวพื้น บิ่น/ไม่เรียบ/แตกร้าว
            </section>
            <section>- ตรวจสอบความแน่นของพื้นปูน โปร่ง/ร่อน
            </section>
            <section>- ตรวจสอบสภาพผิวสีและความสวยงาม สีด่าง/สีเพี้ยน
            </section>
            <section>- ตรวจสอบ slope การระบายน้ำบนพื้น
            </section>
            <br>
            <h6 class="fw-semibold">พื้นกระเบื้อง</h6>
            <section>- ตรวจสอบสภาพความเรียบร้อยของแผ่นกระเบื้อง บิ่น/แตก/ตัดผิดขนาด
            </section>
            <section>- ตรวจสอบสภาพความสวยงามของแผ่นกระเบื้อง ด่าง/เป็นรอย/สีเพี้ยน
            </section>
            <section>- ตรวจสอบความแน่นของพื้นปูนใต้แผ่นกระเบื้อง โปร่ง/ร่อน
            </section>
            <section>- ตรวจสอบความเรียบร้อยในการติดตั้งพื้นกระเบื้อง ปูชิด/ปูห่าง/ไม่เรียบ/กระเดิด
            </section>
            <section>- ตรวจสอบสภาพความเรียบร้อยของยาแนวรอยต่อแผ่นกระเบื้อง
            </section>
            <section>- ตรวจสอบ slope การระบายน้ำบนพื้น
            </section>
            <br>
            <h6 class="fw-semibold">พื้นไม้</h6>
            <section>- ตรวจสอบสภาพความเรียบร้อยของแผ่นพื้น บิ่น/แตก/ตัดผิดขนาด
            </section>
            <section>- ตรวจสอบสภาพความสวยงามของแผ่นพื้น ด่าง/เป็นรอย/สีเพี้ยน
            </section>
            <section>- ตรวจสอบความเรียบร้อยในการติดตั้งแผ่นพื้น ปูห่าง/ไม่เรียบ/ขึ้นตะเข็บ
            </section>
            <section>- ตรวจสอบความแน่นของพื้นไม้ โปร่ง/ร่อน/ยวบ/ลั่น
            </section>
            <br>
            <h5 class="fw-semibold">ฝ้าเพดาน
            </h5>
            <section>- ตรวจสอบระดับฝ้าเพดาน
            </section>
            <section>- งานผิวสี และความสวยงาม
            </section>
            <section>- ตรวจสอบรอยต่อระหว่างแผ่นฝ้าเพดาน
            </section>
            <section>- ตรวจสอบรอยต่อระหว่างแผ่นฝ้าเพดานกับผนัง
            </section>
            <section>- ตรวจสอบการใช้งานช่องฝ้าเพดานเซอร์วิส
            </section>
            <br>
            <h5 class="fw-semibold">ผนังภายนอก ภายใน บัวเชิงผนัง
            </h5>
            <section>- รอยแตกร้าว และผิวสีความสวยงาน ปูนร่อน
            </section>
            <section>- ตรวจสอบการได้ดิ่ง,มุม,ฉาก,บิดเบี้ยวไม่ได้แนว
            </section>
            <section>- ความเรียบร้อยของงานกระเบื้อง (ร่อนร่อนเป็นโพลง,แตกร้าว,สีไม่เหมือน,งานยาแนว)
            </section>
            <section>- ความเรียบร้อยของผนัง ผนัง wallpaper (ขีดข่วน,ฉีกขาด,หลุนล่อน,สีไม่เหมือน,รอบเปื้อน,คราบสกปรก)
            </section>
            <section>- ความเรียบร้อยผนังแผงไม้ประดับ
            </section>
            <section>- ตรวจสอบงานผิวสี และความสวยงาม
            </section>
            <section>- ตรวจสอบงานรอยต่อ และเหลี่ยมมุมฉาก (บัว)
            </section>
            <br>
            <h5 class="fw-semibold">ประตู-หน้าต่าง
            </h5>
            <section>- ตรวจสอบการใช้งานของอุปกรณ์ทั้งหมด
            </section>
            <section>- ตรวจสอบการน้ำรั่วซึมบริเวณรอยต่อเฟรม และขอบผนัง
            </section>
            <section>- ตรวจสอบความสวยงานผิว, สี และเหลี่ยมมุมฉาก
            </section>
            <section>- ตรวจสอบรอยขีดข่วนเฟรม และกระจก
            </section>
            <section>- ตรวจสอบระนาบ และระดับ
            </section>
            <br>
            <h5 class="fw-semibold">บันได
            </h5>
            <section>- ตรวจสอบงานผิวสี และความสวยงานทั่วไป
            </section>
            <section>- ตรวจสอบระดับความสูงของลูกตั้ง และความกว้างลูกนอนบันได
            </section>
            <section>- ตรวจสอบการใช้งาน และความสวยงามเหล็กราวกันตก
            </section>
            <section>- ตรวจสอบการติดตั้ง และความแข็งแรงของโครงสร้าง
            </section>
            <br>
            <h5 class="fw-semibold">งานห้องน้ำ
            </h5>
            <section>- ตรวจสอบตำแหน่งการติดตั้งสุขภัณฑ์ และสเปกวัสดุ
            </section>
            <section>- ตรวจสอบการใช้งานของอุปกรณ์ และสุขภัณฑ์
            </section>
            <section>- ตรวจสอบทิศทางการไหลของน้ำ
            </section>
            <br>
            <h5 class="fw-semibold">งานสวนและบริเวณภายนอกตัวบ้าน
            </h5>
            <section>- ตรวจสอบระดับพื้นดินจัดสวนโดยรอบบ้าน
            </section>
            <section>- ตรวจสอบการลาดเอียงขอบพื้นบริเวณจัดสวน
            </section>
            <section>- ตรวจสอบความเรียบร้อยของการจัดสวน และไม้พุ่ม
            </section>
            <section>- ตรวจสอบระดับบ่อพักโดยรอบบ้าน
            </section>
            <section>- ตรวจสอบความแข็งแรงของผนังรั้ว
            </section>
            <section>- ตรวจสอบการใช้งานประตูรั้ว และรั้วเหล็กโปร่ง
            </section>
            <section>- ตรวจสอบการใช้งาน และการติดตั้งชุดตู้จดหมายป้ายบ้านเลขที่
            </section>
            <section>- ตรวจสอบน้ำขังบริเวณรางประตู และพื้นทางขึ้น
            </section> -->
            </main>
        </div>
    <%- include('partials/scrollup.ejs') %>

        <%- include('partials/footer.ejs') %>