<%- include('partials/navbar.ejs') %>
    <div class="container">
        <header>
            <h1 class="fw-semibold">ระบบไฟฟ้า</h1>
        </header>
        <main>
            <!-- Content goes here -->
            <h2>งานภายนอกตู้ไฟฟ้า</h2>
            <section>- ตรวจสอบสภาพมิเตอร์ไฟฟ้า
            </section>
            <section>- ตรวจสอบค่าความต้านทานของหลักสายดิน
            </section>
            <section>- ตรวจสอบการทำงานของไฟฉุกเฉิน
            </section>
            <section>
                - ตรวจสอบการทำงานของมอเตอร์ประตูรั้ว (ในกรณีที่ติดตั้งเครื่องแล้ว)
            </section>
            <section>- ตรวจสอบการทำงานของสวิตซ์ไฟและแสงสว่างทั้งหมด
            </section>
            <section>- ตรวจสอบการเข้าสายที่เต้ารับไฟทั้งหมด
            </section>
            <section>- ตรวจสอบการเดินสายไฟจากเบรกเกอร์มายังบล็อกเก็บสายไฟ (สำหรับเครื่องใช้ไฟฟ้าที่ยังไม่ได้ติดตั้ง เช่น
                มอเตอร์ประตูรั้ว, เครื่องชาร์ทรถยนต์ไฟฟ้า, เครื่องทำน้ำอุ่น, เตาไฟฟ้าและเครื่องดูดควัน)
            </section>
            <section>- ตรวจสอบการทำงานและสภาพความเรียบร้อยของเครื่องปรับอากาศ (ในกรณีที่ติดตั้งแล้ว)
            </section>
            <section>- ตรวจสอบการทำงานและสภาพความเรียบร้อยของเครื่องทำน้ำอุ่น (ในกรณีที่ติดตั้งแล้ว)
            </section>
            <section>- ตรวจสอบการทำงานและสภาพความเรียบร้อยของเครื่องดูดควัน (ในกรณีที่ติดตั้งแล้ว)
            </section>
            <section>- ตรวจสอบการติดตั้งและการเดินสายสัญญาณโทรทัศน์ (TV)
            </section>
            <section>- ตรวจสอบการติดตั้งและการเดินสายสัญญาณโทรศัพท์ (TEL)
            </section>
            <section>- ตรวจสอบการติดตั้งและการเดินสายสัญญาณอินเทอร์เน็ต (LAN)
            </section>
            <section>- ตรวจสอบสภาพความเรียบร้อยของหน้ากากเต้ารับและสวิตซ์ไฟทั้งหมด
            </section>
            <br>
            <h2>งานภายในตู้ไฟฟ้า</h2>
            <section>- ตรวจสอบการทำงานของระบบป้องกันไฟรั่ว ไฟดูด / RCD (Residual Current Device)
            </section>
            <section>- ตรวจสอบวัดแรงเคลื่อนไฟฟ้า ระบบไฟ 1 Phase
            </section>
            <section>- ตรวจสอบวัดแรงเคลื่อนไฟฟ้า ระบบไฟ 3 Phase
            </section>
            <section>- ตรวจสอบวัดลำดับไฟ 3 Phase
            </section>
            <section>- ตรวจสอบวัดแรงเคลื่อนไฟฟ้าระหว่างสายบาร์นิวทรัล (N) กับบาร์กราวด์ (G)
            </section>
            <section>- ตรวจสอบการติดตั้งและสภาพความเรียบร้อยของสายไฟและเบรกเกอร์
            </section>
            <section>- ตรวจสอบการติดตั้งและสภาพความเรียบร้อยของมาร์คหัวสายไฟ แผงกั้นเฟสและยางกันบาด
            </section>
            <section>- ตรวจสอบการติดตั้งและความถูกต้องของ Sticker Tag บอกตำแหน่งว่าตรงกับเบรกเกอร์
            </section>
            <section>- ตรวจสอบอุณหภูมิสะสมภายในตู้ไฟด้วยกล้องอินฟาเรด
            </section>
            <section>- ตรวจสอบความสะอาดเรียบร้อยภายในตู้ไฟ
            </section>
        </main>
    </div>
    <%- include('partials/footer.ejs') %>