<%- include('partials/navbar.ejs') %>

  <!-- Image -->
  <div class="container-fluid" style="position: relative; margin: 0; padding: 0;">
    <img src="https://img5.pic.in.th/file/secure-sv1/DJI_1839.jpeg" class="img-fluid" alt="..."
      style="max-height: 550px; width: 100%; filter: brightness(0.5);">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
      <div class="text-light fw-bolder kanit-regular" id="res-head-img">
        บริษัทตรวจบ้านอันดับ 1 ที่ลูกค้าบอกต่อมากที่สุด</div>
      <div class="text-light fw-lighter kanit-regular" id="res-title-img">
        บริษัทตรวจสอบความเรียบร้อยของบ้านและคอนโดก่อนโอนกรรมสิทธิ์</div>
    </div>
  </div>
  <br>

  <!-- Checked and Unchecked -->
  <div class="container container-narrow" id="scope">
    <p class="fs-3 fw-semibold" id="kanit-regular">
      สโคปงานในการตรวจบ้าน
    </p>
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <div class="col">
        <a href="/electrical" class="text-decoration-none">
          <div class="card h-100 border-0">
            <img src="https://img5.pic.in.th/file/secure-sv1/IMG_3967d72df4438ea3740a.jpeg" class="card-img-top"
              alt="..." style="justify-content: center;">
            <div class="card-body">
              <h5 class="card-title fw-bolder" id="res-head-btn">หมวดงานระบบไฟฟ้า</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/sanitary" class="text-decoration-none">
          <div class="card h-100 border-0">
            <img src="https://img5.pic.in.th/file/secure-sv1/IMG_4566fa06531835e03e2b.jpeg" class="card-img-top"
              alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bolder" id="res-head-btn">หมวดงานระบบสุขาภิบาล</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/leakage" class="text-decoration-none">
          <div class="card h-100 border-0">
            <img src="https://img5.pic.in.th/file/secure-sv1/IMG_385622d9879ce70bb923.jpeg" class="card-img-top"
              alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bolder" id="res-head-btn">หมวดงานรั่วซึม</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/roof" class="text-decoration-none">
          <div class="card h-100 border-0">
            <img src="https://img2.pic.in.th/pic/IMG_08929dc5ef2ce362eb8c.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bolder" id="res-head-btn">หมวดงานหลังคา</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/architecture" class="text-decoration-none">
          <div class="card h-100 border-0">
            <img src="https://img2.pic.in.th/pic/IMG_3954.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bolder" id="res-head-btn">หมวดงานสถาปัตยกรรม</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/unchecked" class="text-decoration-none">
          <div class="card h-100 border-0">
            <img src="https://img2.pic.in.th/pic/IMG_3954.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bolder text-danger" id="res-head-btn">รายการที่ไม่ได้ตรวจสอบ</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <hr>
  </div>

  <!-- Blocks -->
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" style="position: relative;">
        <a href="/limitation" class="text-decoration-none">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="fs-3 fw-bolder">ข้อจำกัดในการตรวจสอบ</h5>
            </div>
            <img src="https://i.ibb.co/dWnv5KX/1-2.png" class="card-article-img-top" alt="..."
              style="filter: brightness(0.5);">
            <div
              class="p-3 mb-2 bg-warning text-light position-absolute bottom-0 start-50 translate-middle fw-semibold">
              LEARN MORE</div>
          </div>
        </a>
      </div>
      <div class="col" style="position: relative;">
        <a href="#" class="text-decoration-none">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="fs-3 fw-bolder">ตัวอย่างรายงานการตรวจ</h5>
            </div>
            <img src="https://i.ibb.co/dWnv5KX/1-2.png" class="card-article-img-top" alt="..."
              style="filter: brightness(0.5);">
            <div
              class="p-3 mb-2 bg-warning text-light position-absolute bottom-0 start-50 translate-middle fw-semibold">
              LEARN MORE</div>
          </div>
        </a>
      </div>
      <div class="col" style="position: relative;">
        <a href="" class="text-decoration-none">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="fs-3 fw-bolder">ข้อจำกัดในการตรวจสอบ</h5>
            </div>
            <img src="https://i.ibb.co/dWnv5KX/1-2.png" class="card-article-img-top" alt="..."
              style="filter: brightness(0.5);">
            <div
              class="p-3 mb-2 bg-warning text-light position-absolute bottom-0 start-50 translate-middle fw-semibold">
              LEARN MORE</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br>

  <!-- Videos -->
  <div class="container">
    <p class="fs-3 fw-bolder"><svg xmlns="http://www.w3.org/2000/svg" width="22.5" height="22.5" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
    </svg> วิธีการตรวจสอบ</p>
    <p></p>


  </div>

  <!-- Questions -->
  <div class="container">
    <p class="fs-3 fw-bolder">คำถามที่พบบ่อย Frequently Asked Questions</p>
    <a href="#" class="text-decoration-none text-dark">
      <div class="p-3 mb-2 bg-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg> เราแตกต่างจากที่อื่นอย่างไร</div>
    </a>
    <a href="#" class="text-decoration-none text-dark">
      <div class="p-3 mb-2 bg-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg> มีรับประกันตรวจสอบไหม</div>
    </a>
    <a href="#" class="text-decoration-none text-dark">
      <div class="p-3 mb-2 bg-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg> ตรวจเรื่องความสวยงามด้วยมั้ย</div>
    </a>
    <a href="#" class="text-decoration-none text-dark">
      <div class="p-3 mb-2 bg-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg> ตรวจเรื่องความสวยงามด้วยมั้ย</div>
    </a>
  </div>

  <%- include('partials/footer.ejs') %>