<%- include('partials/navbar.ejs') %>

  <!-- Image -->
  <div class="container-fluid" style="position: relative; margin: 0; padding: 0;">
    <!-- <img src="https://img5.pic.in.th/file/secure-sv1/DJI_1839.jpeg" class="img-fluid" alt="..."
      style="max-height: 550px; width: 100%; filter: brightness(0.5);"> -->
    <!-- <a href="https://ibb.co/pn1Cj7f"><img src="https://i.ibb.co/7bS7tfn/88.jpg" alt="88" border="0"></a> -->
    <!-- <img src="https://i.ibb.co/7bS7tfn/88.jpg" class="img-fluid" alt="..."
      style="max-height: 550px; width: 100%; filter: brightness(0.7);"> -->
    <!-- <a href="https://ibb.co/HXXxW8N"><img src="https://i.ibb.co/M99GY08/3090-D65775-CE57-A4-F564-CEFCAD0-BA755.jpg" alt="3090-D65775-CE57-A4-F564-CEFCAD0-BA755" border="0"></a> -->
    <img src="https://i.ibb.co/8zV2rLh/IMG-20240514-121107.jpg" class="img-fluid" alt="..."
      style="max-height: 550px; width: 100%; filter: brightness(0.7);">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
      <div class="text-light fw-bolder kanit-regular" id="res-head-img">
        บริษัทตรวจบ้านอันดับ 1 ที่ลูกค้าบอกต่อมากที่สุด</div>
      <div class="text-light fw-lighter kanit-regular" id="res-title-img">
        บริษัทตรวจสอบความเรียบร้อยของบ้านและคอนโดก่อนโอนกรรมสิทธิ์</div>
    </div>
  </div>
  <br>

  <!-- Checked and Unchecked -->
  <div class="container container-narrow" id="scope">
    <p class="fs-3 fw-semibold">
      สโคปงานในการตรวจบ้าน
    </p>
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <div class="col">
        <a href="/electrical" class="text-decoration-none">
          <div class="card h-100 border-0">
            <img src="https://img5.pic.in.th/file/secure-sv1/IMG_3967d72df4438ea3740a.jpeg" class="card-img-top"
              alt="..." style="justify-content: center;">
            <div class="card-body" id="card-body">
              <h5 class="card-title fw-bolder" id="res-head-btn">หมวดงานระบบไฟฟ้า</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/sanitary" class="text-decoration-none">
          <div class="card h-100 border-0">
            <img src="https://img5.pic.in.th/file/secure-sv1/IMG_4566fa06531835e03e2b.jpeg" class="card-img-top"
              alt="...">
            <div class="card-body" id="card-body">
              <h5 class="card-title fw-bolder" id="res-head-btn">หมวดงานระบบสุขาภิบาล</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/leakage" class="text-decoration-none">
          <div class="card h-100 border-0">
            <!-- <img src="https://img5.pic.in.th/file/secure-sv1/IMG_385622d9879ce70bb923.jpeg" class="card-img-top"
              alt="..."> -->
            <img src="https://i.ibb.co/37NKRrr/IMG-3855.jpg" class="card-img-top" alt="...">
            <div class="card-body" id="card-body">
              <h5 class="card-title fw-bolder" id="res-head-btn">หมวดงานรั่วซึม</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/roof" class="text-decoration-none">
          <div class="card h-100 border-0">
            <img src="https://img2.pic.in.th/pic/IMG_08929dc5ef2ce362eb8c.jpeg" class="card-img-top" alt="...">
            <div class="card-body" id="card-body">
              <h5 class="card-title fw-bolder" id="res-head-btn">หมวดงานหลังคา</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/architecture" class="text-decoration-none">
          <div class="card h-100 border-0">
            <img src="https://i.ibb.co/ZmJ80NJ/IMG-4042.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bolder" id="res-head-btn">หมวดงานสถาปัตยกรรม</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/unchecked" class="text-decoration-none">
          <div class="card h-100 border-0">
            <!-- <img src="https://i.ibb.co/0tQYCYk/1.png" class="card-img-top" alt="..."> -->
            <img src="https://i.ibb.co/ZmJ80NJ/IMG-4042.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bolder text-danger" id="res-head-btn">รายการที่ไม่ได้ตรวจสอบ</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <hr>
  </div>

  <!-- Blocks -->
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" style="position: relative;">
        <a href="/limitation" class="text-decoration-none">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="fs-3 fw-bolder">ข้อจำกัดในการตรวจสอบ</h5>
            </div>
            <img src="https://i.ibb.co/dWnv5KX/1-2.png" class="card-article-img-top" alt="..."
              style="filter: brightness(0.65);">
            <div
              class="p-3 mb-2 bg-warning text-light position-absolute bottom-0 start-50 translate-middle fw-semibold">
              อ่านต่อ</div>
          </div>
        </a>
      </div>
      <div class="col" style="position: relative;">
        <a href="https://drive.google.com/file/d/1j70JbvG0ospMfrojgmLXEUsbmjnuqkvz/view" class="text-decoration-none">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="fs-3 fw-bolder">ตัวอย่างรายงานการตรวจ</h5>
            </div>
            <img src="https://i.ibb.co/nRPFSHJ/Screenshot-2024-05-13-141425.png" class="card-article-img-top" alt="..."
              style="filter: brightness(0.7);">
            <div
              class="p-3 mb-2 bg-warning text-light position-absolute bottom-0 start-50 translate-middle fw-semibold">
              อ่านต่อ</div>
          </div>
        </a>
      </div>
      <div class="col" style="position: relative;">
        <a href="#" class="text-decoration-none">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="fs-3 fw-bolder">Lorem ipsum dolor</h5>
            </div>
            <img src="https://i.ibb.co/dWnv5KX/1-2.png" class="card-article-img-top" alt="..."
              style="filter: brightness(0.7);">
            <div
              class="p-3 mb-2 bg-warning text-light position-absolute bottom-0 start-50 translate-middle fw-semibold">
              อ่านต่อ</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br>

  <!-- Videos -->
  <div class="container">
    <p class="fs-3 fw-bolder"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
        class="bi bi-play-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z" />
      </svg> วิธีการตรวจสอบ</p>
    <div class="d-flex justify-content">
      <a href="/videoelectrical" class="text-decoration-none text-dark">
        <div class="card">
          <h5 class="card-header">ตัวอย่างวิดีโอวิธีการตรวจสอบ</h5>
          <div class="card-body">
            <img src="https://i.ibb.co/KhSdKYH/Screenshot-2024-05-13-140133.png" style="max-width: 100%;" alt="...">
            <!-- <div>
              <br>
              <a href="/videoelectrical" class="btn btn-secondary text-center">ดูเพิ่มเติม</a>
            </div> -->
          </div>
        </div>
      </a>
    </div>
  </div>

  <br>
  <!-- Questions -->
  <div class="container">
    <div class="container">
      <p class="fs-3 fw-bolder"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
          class="bi bi-question-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
        </svg> คำถามที่พบบ่อย Frequently Asked Questions</p>

      <hr>
      <button onclick="showAnswer1()" class="button-question">
        <div class="p-3 text-start question position-relative">เราแตกต่างจากที่อื่นอย่างไร <svg id="down1"
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill position-absolute top-50 end-0 translate-middle-y" viewBox="0 0 16 16"
            style="margin-right: 15px;">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg><svg id="down2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-up-fill position-absolute top-50 end-0 translate-middle-y" viewBox="0 0 16 16"
            style="margin-right: 15px; display: none;">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg></div>
      </button>
      <div id="answer1" style="display: none;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum corrupti
        velit dolore?</div>

      <hr>
      <button onclick="showAnswer2()" class="button-question">
        <div class="p-3 text-start hover question position-relative">มีรับประกันตรวจสอบไหม <svg id="down3"
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill position-absolute top-50 end-0 translate-middle-y" viewBox="0 0 16 16"
            style="margin-right: 15px;">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg><svg id="down4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-up-fill position-absolute top-50 end-0 translate-middle-y" viewBox="0 0 16 16"
            style="margin-right: 15px; display: none;">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg></div>
      </button>
      <div id="answer2" style="display: none;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque repellat
        optio, nihil odio laboriosam neque.</div>

      <hr>
      <button onclick="showAnswer3()" class="button-question">
        <div class="p-3 text-start question position-relative">ตรวจเรื่องความสวยงามด้วยมั้ย <svg id="down5"
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill position-absolute top-50 end-0 translate-middle-y" viewBox="0 0 16 16"
            style="margin-right: 15px;">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg><svg id="down6" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-up-fill position-absolute top-50 end-0 translate-middle-y" viewBox="0 0 16 16"
            style="margin-right: 15px; display: none;">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg></div>
      </button>
      <div id="answer3" style="display: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit maiores
        error tempore quidem ducimus iure rem mollitia perspiciatis saepe officiis.</div>

      <hr>
      <button onclick="showAnswer4()" class="button-question">
        <div class="p-3 text-start question position-relative">ตรวจเรื่องความสวยงามด้วยมั้ย <svg id="down7"
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill position-absolute top-50 end-0 translate-middle-y" viewBox="0 0 16 16"
            style="margin-right: 15px;">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg><svg id="down8" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-up-fill position-absolute top-50 end-0 translate-middle-y" viewBox="0 0 16 16"
            style="margin-right: 15px; display: none;">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg></div>
      </button>
      <div id="answer4" style="display: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit maiores
        error tempore quidem ducimus iure rem mollitia perspiciatis saepe officiis.</div>
      <hr>

    </div>
  </div>

  <%- include('partials/scrollup.ejs') %>

    <br>
    <footer style="background-color: #f2f2f2; padding: 20px; text-align: center;">
      <p style="color: #666;">COPYRIGHT © BY ต.ตรวจบ้าน - ALL RIGHTS RESERVED</p>
    </footer>
    <script>const scrollUp = document.querySelector("#scroll-up");

      scrollUp.addEventListener("click", () => {
        window.scrollTo({
          top: 0,
          left: 0,
          behavior: "smooth",
        });
      });

      function showAnswer1() {
        var answer = document.getElementById("answer1");
        var down1 = document.getElementById("down1");
        var down2 = document.getElementById("down2");

        if (answer.style.display === "none") {
          answer.style.display = "block";
          down1.style.display = "none"
          down2.style.display = "inline"
        } else {
          answer.style.display = "none";
          down1.style.display = "inline"
          down2.style.display = "none"
        }
      }
      function showAnswer2() {
        var answer = document.getElementById("answer2");
        var down1 = document.getElementById("down3");
        var down2 = document.getElementById("down4");

        if (answer.style.display === "none") {
          answer.style.display = "block";
          down1.style.display = "none"
          down2.style.display = "inline"
        } else {
          answer.style.display = "none";
          down1.style.display = "inline"
          down2.style.display = "none"
        }
      }
      function showAnswer3() {
        var answer = document.getElementById("answer3");
        var down1 = document.getElementById("down5");
        var down2 = document.getElementById("down6");

        if (answer.style.display === "none") {
          answer.style.display = "block";
          down1.style.display = "none"
          down2.style.display = "inline"
        } else {
          answer.style.display = "none";
          down1.style.display = "inline"
          down2.style.display = "none"
        }
      }
      function showAnswer4() {
        var answer = document.getElementById("answer4");
        var down1 = document.getElementById("down7");
        var down2 = document.getElementById("down8");

        if (answer.style.display === "none") {
          answer.style.display = "block";
          down1.style.display = "none"
          down2.style.display = "inline"
        } else {
          answer.style.display = "none";
          down1.style.display = "inline"
          down2.style.display = "none"
        }
      }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>

    </body>

    </html>