<%- include('partials/navbar.ejs') %>
<div class="container">
    <header>
        <h1  class="fw-semibold">งานรั่วซึม</h1>
    </header>
    <main>
        <!-- Content goes here -->
        <section>- ตรวจสอบน้ำรั่วซึมรอยต่อเฟรมประตูหน้าต่าง
        </section>
        <section>- ตรวจสอบน้ำรั่วซึมรอยต่อเฟรมประตูหน้าต่างกับขอบผนัง
        </section>
        <section>- ตรวจสอบน้ำรั่วซึมรอยต่อฝาครอบท่อแอร์และกริลระบายอากาศรอบบ้าน
        </section>
        <section>- ตรวจสอบความชื้นสะสมภายในผนังด้วยเครื่องวัดความชื้น
        </section>
        <section>- ตรวจสอบน้ำรั่วซึมรอยต่อท่อน้ำประปาบนหลังฝ้าด้วยกล้องอินฟาเรด
        </section>
        <section>- ตรวจสอบน้ำรั่วซึมรอยต่อท่อแอร์บนหลังฝ้าด้วยกล้องอินฟาเรด
        </section>
    </main>
</div>
<%- include('partials/footer.ejs') %>