<%- include('partials/navbar.ejs') %>
<br>

<div class="container" id="limit">
    <p class="fs-3 fw-semibold" id="kanit-regular">
        ข้อจำกัดในการตรวจสอบ
    </p>
    <div>
        <img src="https://i.ibb.co/dWnv5KX/1-2.png" class="img-fluid" alt="...">
    </div>
    <div>
        <img src="https://i.ibb.co/xzLTc30/2-2.png" class="img-fluid" alt="...">
    </div>

</div>

<%- include('partials/footer.ejs') %>