<%- include('partials/navbar.ejs') %>
    <br>

    <div class="container" id="limit">
        <h1 class="fw-bold color-navy">ข้อจำกัดในการตรวจสอบ</h1>
        <!-- <div>
            <img src="https://i.ibb.co/dWnv5KX/1-2.png" class="img-fluid" alt="...">
        </div>
        <div>
            <img src="https://i.ibb.co/xzLTc30/2-2.png" class="img-fluid" alt="...">
        </div> -->

        <h6 class="fw-semibold limit-header">1.1 การตรวจบ้านไม่ใช่การตรวจสอบทางเทคนิคอย่างละเอียด</h6>
        <section class="limit-text">การตรวจบ้านเป็นการตรวจสอบความเรียบร้อยของบ้านในภาพรวมเบื้องต้น
            เนื่องด้วยผู้ตรวจมีขอบเขตระยะของเวลาในการตรวจสอบบ้าน โดยเป็นการตรวจสอบด้วยสายตาเป็นหลัก
            พร้อมเครื่องมือพื้นฐานการตรวจสอบ จึงไม่ใช่การตรวจสอบทางเทคนิคอย่างละเอียด
            ดังนั้นลูกค้าเข้าใจดีว่าการตรวจบ้านไม่สามารถตรวจเจอข้อบกพร่อง (Defects) ทุกอย่างภายในบ้าน
            ข้อบกพร่องบางอย่างที่พบ เช่น รอยแตกร้าว
            สามารถเป็นได้ทั้งรอยแตกร้าวผิวที่เป็นเรื่องความสวยงามทั่วไปหรืออาจบ่งชี้ถึงปัญหาทางโครงสร้างก็เป็นได้
            ซึ่งอยู่นอกเหนือขอบเขตการตรวจสอบ หากลูกค้ากังวลในส่วนของรายการข้อบกพร่องดังกล่าวที่พบในรายงานการตรวจบ้าน
            บริษัทฯ แนะนำในการหาที่ปรึกษาผู้เชี่ยวชาญที่ได้รับการรับรอง หรือวิศวกรที่ปรึกษา
            เนื่องจากผู้เชี่ยวชาญเหล่านี้จะสามารถวิเคราะห์สาเหตุของข้อบกพร่องที่ตรวจพบได้ (ซึ่งอาจมีค่าใช้จ่ายเพิ่มเติม)
        </section>
        <br>
        <h6 class="fw-semibold limit-header">1.2 ตรวจสอบตามสภาพหน้างานจริงที่พบเห็น ในพื้นที่ที่เข้าถึงได้ ณ
            วันที่ทำการตรวจสอบ </h6>
        <section class="limit-text">การตรวจสอบและข้อบกพร่องขึ้นอยู่กับสภาพหน้างานจริงที่พบเห็น
            ในพื้นที่ที่สามารถเข้าถึงได้ของบ้านเท่านั้น ผู้ตรวจสอบจะไม่ทำการรื้อ ถอน ถอด แยกสิ่งของ
            ลอก wallpaper รื้อพรม รวมถึงเคลื่อนย้ายเฟอร์นิเจอร์เพื่อทำการตรวจสอบ หรือกระทำการใด ๆ
            อันจะก่อให้ความเสียหายเกิดขึ้น
        </section>
        <br>
        <h6 class="fw-semibold limit-header">1.3 การตรวจสอบนี้ไม่ใช่การประกอบวิชาชีพทางวิศวกรรมหรือสถาปัตยกรรม </h6>
        <section class="limit-text">การตรวจบ้านไม่ใช่การประกอบวิชาชีพทางวิศวกรรมหรือสถาปัตยกรรม
            รายการการตรวจบ้านไม่ใช่รายงานทางวิศวกรรมโครงสร้าง
            ไม่สามารถใช้อ้างอิงในการการรันตีที่เกี่ยวกับงานโครงสร้างและระบบของตัวบ้านได้
            การตรวจบ้านและรายงานการตรวจอาจไม่พบข้อบกพร่อง (Defect) ที่อยู่ในพื้นที่ที่ไม่สามารถเข้าถึงได้
            ถูกปิดทับภายในตัวบ้าน และข้อบกพร่องที่อาจเกิดขึ้นภายหลังการตรวจสอบ </section>
        <br>
        <h6 class="fw-semibold limit-header">1.4 การตรวจบ้านไม่รวมถึงการบ่งชี้ข้อบกพร่อง (Defects)
            ที่ถูกปิดทับไว้หรือไม่สามารถเข้าถึงได้ </h6>
        <section class="limit-text">ยกตัวอย่างเช่น ข้อบกพร่องที่อาจมีอยู่ภายในฝ้า ผนัง พื้น สายไฟ ระบบทำความร้อน-เย็น
            งานโครงสร้าง ระบบท่อน้ำประปา ระบบระบายความร้อน รวมถึงงานโครงสร้าง เสาเข็ม ฐานราก การผูกเหล็ก ฯลฯ
            รวมถึงข้อบกพร่องบางอย่างที่สามารถพบได้เฉพาะตามช่วงสภาพอากาศ อาจทำให้ตรวจสอบได้ไม่ชัดเจนหรือไม่พบข้อบกพร่อง
            เพราะเป็นข้อบกพร่องที่เกิดขึ้นภายใต้บางสภาพแวดล้อมนั้นเท่านั้น เช่น ผู้ตรวจอาจตรวจสอบไม่พบการรั่วซึมหลังคา
            ที่อาจจะเกิดและพบการรั่วซึมได้ชัดเจนเฉพาะช่วงที่เป็นฤดูฝน หรือมีสภาวะฝนตกหนัก ๆ</section>
        <br>

        <h1 class="fw-bold color-navy">ขอบเขตการให้บริหาร</h1>
        <h6 class="fw-semibold limit-header">2.1 ขอบเขตการตรวจสอบแบ่งออกเป็นงานระบบหลักๆ ดังนี้ </h6>
        <section class="limit-text">งานระบบไฟฟ้า, งานระบบสุขาภิบาล, งานหลังคา, การรั่วซึม
            และงานสถาปัตยกรรมภายนอก-ภายในบ้านเบื้องต้น ในส่วนของงานโครงสร้างจะมีการตรวจสอบในเรื่องของการทรุดตัว
            รอยแตกร้าวที่เกิดจากโครงสร้างเบื้องต้นในภาพรวม
            โดยมุ่งเน้นตรวจสอบงานฟังก์ชันการใช้งานของงานระบบตัวบ้านและคำนึงถึงความปลอดภัยของผู้อยู่อาศัยเป็นหลัก
        </section>
        <br>
        <h6 class="fw-semibold limit-header">2.2 การตรวจบ้านไม่รวมถึงการตรวจสอบงานระบบและรายการ ดังนี้ </h6>
        <section class="limit-text">การตรวจบ้านไม่ได้รวมถึงการตรวจงานระบบลิฟท์ ระบบสระว่ายน้ำ ระบบโซลาร์เซลล์
            ระบบท่อน้ำทิ้งแอร์ ระบบปั๊มน้ำบ่อน้ำพุ ระบบอ่างอาบน้ำ ระบบท่อปลวก ระบบสปา ระบบรักษาความปลอดภัย ท่อใต้พื้น
            ผนัง สิ่งประเภทวัตถุอันตรายและสารเคมี และสภาพแวดล้อมที่เป็นอันตราย</section>
        <br>
        <h6 class="fw-semibold limit-header">2.3 วัสดุที่ใช้ในการระบุข้อบกพร่อง (Defect) </h6>
        <section class="limit-text">วัสดุที่ใช้ระบุข้อบกพร่องเป็นเทปกาว แนะนำว่าไม่ควรทิ้งระยะเวลาไว้นานเกิน 2
            สัปดาห์หลังจากการตรวจ เนื่องจากด้วยสภาพแวดล้อมที่ปิดอบอับของบ้านที่ยังไม่มีการเข้าอยู่อาศัย
            และสภาพอากาศของประเทศไทย อาจทำให้เทปกาวละลายและเหนียวติดเป็นคราบกาว ส่งผลเกิดความเสียหายแก่ตัวบ้านได้
            บริษัทฯ ขอสงวนสิทธิ์ในการรับผิดชอบความเสียหายที่เกิดขึ้น ไม่ว่ากรณีใดๆ ทั้งทางตรงและทางอ้อม </section>
        <br>
        <h6 class="fw-semibold limit-header">2.4 การตรวจสอบด้วยโดรน (สำหรับตรวจสอบบ้าน)</h6>
        <section class="limit-text">ในกรณีที่บ้านอยู่ในเขตพื้นที่ห้ามบินโดรน ในรัศมี 9
            กิโลเมตรรอบสนามบินตามข้อบังคับของสำนักงานการบินพลเรือนแห่งประเทศไทย (CAAT)
            หรืออยู่ในพื้นที่และสภาพอากาศที่ไม่เอื้ออำนวย บริษัทฯ
            ขอสงวนสิทธิ์ในการบินโดรนตรวจงานหลังคาและพิจารณาการคืนเงินค่าบริการหรือเปลี่ยนแปลงค่าบริการใด ๆ ทั้งสิ้น
        </section>
        <br>
        <h6 class="fw-semibold limit-header">2.5 รายงานการตรวจบ้าน </h6>
        <section class="limit-text">
            เอกสารฉบับนี้จัดทำขึ้นเพื่อใช้เป็นข้อมูลและเป็นประโยชน์สำหรับ“เจ้าของบ้าน”หรือผู้ว่าจ้างการตรวจสอบ
            โดยเฉพาะเท่านั้น บริษัทขอสงวนสิทธิ์ในการนำเอกสารฉบับนี้ไปเผยแพร่ จัดทำสำเนา แจกจ่าย ดัดแปลง
            เพื่อถือเป็นประโยชน์ในทางอื่นใด ไม่ว่าทั้งหมดหรือบางส่วน โดยหรือแก่บุคคลอื่นไม่ว่าด้วยวัตถุประสงค์ใดก็ตาม
        </section>
        <br>

        <h1 class="fw-bold color-navy" id="limit-3">ไม่มีนโยบายการรับประกัน การันตี หรือการประกันภัย</h1>
        <h6 class="fw-semibold limit-header">3.1 ลูกค้าเข้าใจและยอมรับว่าบริษัทฯ และผู้ตรวจสอบไม่ใช้ผู้รับประกัน</h6>
        <section class="limit-text">การตรวจบ้านไม่สามารถรับประกันการตรวจสอบ และการันตี หรือการประกันภัยใดๆ
            ที่เกี่ยวกับงานโครงสร้างและระบบของตัวบ้านได้
            การตรวจบ้านไม่สามารถพยากรณ์หรือคาดคะเนได้ถึงสภาพของบ้านในอนาคตภายหน้าในทุกสภาวะ
            เนื่องด้วยอาจมีปัจจัยแวดล้อมอื่นๆ ที่ไม่สามารถควบคุมได้เกี่ยวกับความสมบูรณ์แข็งแรงของตัวบ้าน
            รวมถึงงานระบบและส่วนประกอบอื่น ๆ ที่เกี่ยวข้อง
            ยกตัวอย่างเช่น
        </section>
        <section class="limit-text">- การเสื่อมสภาพของวัสดุตามอายุการใช้งาน </section>
        <section class="limit-text">- ปัญหาที่เกิดจากการบำรุงรักษาที่ไม่ถูกต้อง หรือประเภทมีโอกาสชำรุดไม่แน่นอน
        </section>
        <section class="limit-text">- การหดตัวลดลง การทรุดตัวของวัสดุหรือโครงสร้างที่เกิดขึ้นได้ปกติตามอายุการใช้งาน
        </section>
        <section class="limit-text">- ภัยพิบัติทางธรรมชาติ เช่น การทรุดตัวของพื้นดิน แรงต้านที่เกิดจากแผ่นดินไหว
            และน้ำท่วม </section>
        <section class="limit-text">- การติดตั้งและต่อเติมบริเวณใดบริเวณหนึ่งของบ้าน ภายหลังการตรวจสอบ </section>
        <section class="limit-text">- การกระทำ/แก้ไขใดๆ หลังการตรวจสอบ ของทางโครงการหรือผู้เกี่ยวข้อง</section>
        <br>
        <h6 class="fw-semibold limit-header">3.2 การรับประกันความเสียหายของบริษัทฯ </h6>
        <section class="limit-text">3.2.1 ในกรณีที่เกิดความเสียหายใดๆ ขึ้นกับสถานที่ที่ใช้บริการ และ/หรือ
            ทรัพย์สินภายในสถานที่ดังกล่าว อันเป็นผลโดยตรงมาจากความผิดพลาดในการดำเนินการของบริษัทฯ บริษัทฯ
            ตกลงรับประกันความเสียหายให้แก่ผู้ใช้บริการเป็นจำนวนเงินไม่เกินวงเงินของค่าบริการทั้งหมดของผู้ใช้นั้นๆ
        </section>
        <section class="limit-text">3.2.2 บริษัทฯ
            จะไม่รับประกันและไม่รับผิดชอบต่อความเสียหายที่เกิดขึ้นจากการกระทำ/แก้ไขใดๆ
            หลังการตรวจสอบของทางโครงการหรือผู้เกี่ยวข้อง </section>

    </div>
    <%- include('partials/scrollup.ejs') %>

        <%- include('partials/footer.ejs') %>