<%- include('partials/navbar.ejs') %>
    <div class="container">
        <header>
            <h1 class="fw-semibold">งานหลังคา</h1>
        </header>
        <main>
            <!-- Content goes here -->
            <h2>งานใต้หลังคา</h2>
            <section>- ตรวจสอบสภาพความเรียบร้อยของโครงสร้างหลังคา
            </section>
            <section>- ตรวจสอบการติดตั้งและสภาพความเรียบร้อยของฉนวนกันความร้อน
            </section>
            <section>- ตรวจสอบการติดตั้งและสภาพความเรียบร้อยของโครงฝ้า
            </section>
            <section>- ตรวจสอบคราบน้ำรั่วซึมใต้หลังคา
            </section>
            <section>- ตรวจสอบการติดตั้งแผงกั้นกันคนข้ามระหว่างบ้าน (ในกรณีบ้านทาวน์โฮมติดกัน)
            </section>
            <section>- ตรวจสอบการติดตั้งอุปกรณ์ป้องกันสัตว์และแมลงเข้ามาภายในหลังคา
            </section>
            <section>- ตรวจสอบสภาพความเรียบร้อยของการเดินระบบท่อสายไฟบนหลังฝ้า
            </section>
            <section>- ตรวจสอบความสะอาดเรียบร้อยบนหลังฝ้า
            </section>
            <section>- ตรวจสอบน้ำรั่วซึมบนหลังฝ้าด้วยกล้องอินฟาเรด
                (ในกรณีบ้านที่ไม่มีช่องเซอร์วิสหรือพื้นที่ใต้หลังคาแคบ)
            </section>
            <h2>งานบนหลังคา</h2>
            <h4>แผ่นหลังคากระเบื้อง</h4>
            <section>- ตรวจสอบสภาพความเรียบร้อยของแผ่นมุงหลังคา
            </section>
            <section>- ตรวจสอบการติดตั้งและจัดเรียงแผ่นมุงหลังคา
            </section>
            <section>- ตรวจสอบการติดตั้งสันครอบหลังคา
            </section>
            <h4>แผ่นหลังคาเมทัลชีท</h4>
            <section>- ตรวจสอบสภาพความเรียบร้อยของแผ่นหลังคาเมทัลชีท
            </section>
            <section>- ตรวจสอบการติดตั้งและสภาพความเรียบร้อยของแผ่น flashing ป้องกันน้ำไหลย้อนเข้าบ้าน
            </section>
            <section>- ตรวจสอบสภาพความเรียบร้อยของรอยต่อระหว่างแผ่นหลังคากับโครงสร้างของบ้าน
            </section>
            <h4>พื้นดาดฟ้าและผนังรอบตัวบ้าน</h4>
            <section>- ตรวจสอบงานทากันซึมและสภาพความเรียบร้อยของพื้นดาดฟ้า
            </section>
            <section>- ตรวจสอบ slope การระบายน้ำบนพื้นดาดฟ้า
            </section>
            <section>- ตรวจสอบงานสีและสภาพความเรียบร้อยของผนังรอบตัวบ้าน
            </section>

        </main>
    </div>

    <%- include('partials/footer.ejs') %>