<%- include('partials/navbar.ejs') %>
    <div class="container">
        <header>
            <h1 class="fw-semibold">หมวดงานระบบสุขาภิบาล</h1>
        </header>
        <main>
            <!-- Content goes here -->
            <section>ตรวจสอบสภาพมิเตอร์น้ำ
            </section>
            <section>ตรวจสอบสภาพถังน้ำดี, การใช้งานลูกลอยและการเดินท่อประปาเข้า-ออกถังน้ำดี 
            </section>
            <section>ตรวจสอบสภาพปั๊มน้ำ, แรงดันน้ำภายในบ้านและการเดินท่อประปาเข้า-ออกปั๊มน้ำ
            </section>
            <section>ตรวจสอบสภาพและการทำงานของบ่อบำบัดน้ำเสีย
            </section>
            <section>ตรวจสอบสภาพและการทำงานของบ่อพักดักกลิ่น
            </section>
            <section>ตรวจสอบสภาพและการทำงานของบ่อดักไขมัน
            </section>
            <section>ตรวจสอบการเดินท่อระบบระบายน้ำทิ้งบริเวณรอบบ้าน ก่อนออกสู่ระบบท่อระบายน้ำสาธารณะ
            </section>
            <section>ตรวจสอบการอุดตันของท่อน้ำทิ้งทั้งภายนอกและภายในบ้าน
            </section>
        </main>
    </div>
    <%- include('partials/footer.ejs') %>