<%- include('partials/navbar.ejs') %>
    <br>
    <div class="container" id="noscope">
        <p class="fs-3 fw-semibold" id="kanit-regular">
            รายการที่ไม่ได้ตรวจสอบ
        </p>
        <img src="https://i.ibb.co/0tQYCYk/1.png" class="img-fluid" alt="...">
    </div>
    <%- include('partials/footer.ejs') %>