<%- include('partials/navbar.ejs') %>
    <div class="bg-all pt-3 pb-5">
        <div class="container">
            <p class="fs-3 fw-bolder">คลิปวิธีการตรวจบ้าน</p>
            <div class="dropdown">
                <a class="btn btn-secondary btn-lg dropdown-toggle-video" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" style="width: 100% !important;">
                    หมวดงานระบบสุขาภิบาล
                </a>
                <ul class="dropdown-menu" style="width: 100% !important;">
                    <li><a class="dropdown-item" href="/videoelectrical">หมวดงานระบบไฟฟ้า</a></li>
                    <li><a class="dropdown-item" href="/videosanitary">หมวดงานระบบสุขาภิบาล</a></li>
                    <li><a class="dropdown-item" href="/videoleakage">หมวดงานรั่วซึม</a></li>
                    <li><a class="dropdown-item" href="#">หมวดงานหลังคา</a></li>
                    <!-- <li><a class="dropdown-item" href="#">หมวดงานสถาปัตยกรรม</a></li> -->
                </ul>
            </div>
            <br>
            <div class="row g-10" style="justify-content: center;">
                <div class="card mb-3 p-0 border-0 bg-all max-width-viedo">
                    <div class="row g-0" id="icon-card">
                        <div class="col-sm-7">
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/x9qWAwpxBUY"
                                title="วิธีตรวจสอบถังน้ำดีในบ้าน  l ต.ตรวจบ้าน" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-sm-5">
                            <div class="card-body" id="card-body">
                                <h5 class="card-title text-center">วิธีตรวจสอบถังน้ำดีในบ้าน l ต.ตรวจบ้าน</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 p-0 border-0 bg-all max-width-viedo">
                    <div class="row g-0" id="icon-card">
                        <div class="col-sm-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/UAS785PV0zI"
                                title="วิธีดูขนาดถังน้ำดี🕵🏻✨" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-sm-5">
                            <div class="card-body" id="card-body">
                                <h5 class="card-title text-center">วิธีดูขนาดถังน้ำดี l ต.ตรวจบ้าน</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 p-0 border-0 bg-all max-width-viedo">
                    <div class="row g-0" id="icon-card">
                        <div class="col-sm-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/uZj7mX7q8lE"
                                title="EP:6 น้ำไม่ระบาย/ท่อตัน!!! ตรวจยังไง l ตรวจบ้าน ตรวจคอนโด ก่อนรับโอน by ต.ตรวจบ้าน"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-sm-5">
                            <div class="card-body" id="card-body">
                                <h5 class="card-title text-center">น้ำไม่ระบาย/ท่อตัน!!! ตรวจยังไง l ตรวจบ้าน ตรวจคอนโด
                                    ก่อนรับโอน
                                    by
                                    ต.ตรวจบ้าน</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 p-0 border-0 bg-all max-width-viedo">
                    <div class="row g-0" id="icon-card">
                        <div class="col-sm-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/5idu9ZwJGiI"
                                title="ถังบำบัดแตก ดูยังไง? l ต.ตรวจบ้าน" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-sm-5">
                            <div class="card-body" id="card-body">
                                <h5 class="card-title text-center">ถังบำบัดแตก ดูยังไง? l ต.ตรวจบ้าน</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 p-0 border-0 bg-all max-width-viedo">
                    <div class="row g-0" id="icon-card">
                        <div class="col-sm-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/J4-Yi7Yv7k4"
                                title="ตรวจบ้านวันละตอนEP.2 I วิธีตรวจสอบท่อน้ำทิ้งชักโครก" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-sm-5">
                            <div class="card-body" id="card-body">
                                <h5 class="card-title text-center">ตรวจบ้านวันละตอนEP.2 I วิธีตรวจสอบท่อน้ำทิ้งชักโครก
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 p-0 border-0 bg-all max-width-viedo">
                    <div class="row g-0" id="icon-card">
                        <div class="col-sm-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/R9l5mrLSNCE"
                                title="บ่อดักไขมันตรวจยังไง⁉️ วิธีดูแลรักษามีอะไรบ้าง🕵🏻" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body" id="card-body">
                                <h5 class="card-title text-center">บ่อดักไขมันตรวจยังไง⁉️ วิธีดูแลรักษามีอะไรบ้าง</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/scrollup.ejs') %>

        <%- include('partials/footer.ejs') %>