<%- include('partials/navbar.ejs') %>
    <br>
    <div class="container">
        <p class="fs-3 fw-bolder">คลิปวิธีการตรวจบ้าน</p>
        <div class="dropdown">
            <a class="btn btn-secondary btn-lg dropdown-toggle-video" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" style="width: 100% !important;">
                หมวดงานรั่วซึม
            </a>
            <ul class="dropdown-menu" style="width: 100% !important;">
                <li><a class="dropdown-item" href="/videoelectrical">หมวดงานระบบไฟฟ้า</a></li>
                <li><a class="dropdown-item" href="/videosanitary">หมวดงานระบบสุขาภิบาล</a></li>
                <li><a class="dropdown-item" href="/videoleakage">หมวดงานรั่วซึม</a></li>
                <li><a class="dropdown-item" href="#">หมวดงานหลังคา</a></li>
                <li><a class="dropdown-item" href="#">หมวดงานสถาปัตยกรรม</a></li>
            </ul>
        </div>
        <br>
        <div class="row g-10" id="style-justify-content-for-viedo">
            <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                <div class="row g-0">
                    <div class="col-md-7">
                        <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/JnS0_QLg6kY"
                            title="#น้ํารั่ว #ฝ้าเพดาน #ตรวจสอบได้ ยังไง!?" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h5 class="card-title">#น้ํารั่ว #ฝ้าเพดาน #ตรวจสอบได้ ยังไง!?</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                <div class="row g-0">
                    <div class="col-md-7">
                        <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/qvZPEFo7wb8"
                            title="ต.ตรวจบ้านพาดูน้ำรั่วฝ้า EP:2 l น้ำรั่วฝ้า ตรวจกันยังไง" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h5 class="card-title">ต.ตรวจบ้านพาดูน้ำรั่วฝ้า EP:2 l น้ำรั่วฝ้า ตรวจกันยังไง</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                <div class="row g-0">
                    <div class="col-md-7">
                        <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/tH6SI2Lw1g8"
                            title="ตรวจบ้าน ตรวจคอนโด ก่อนรับโอน by ต.ตรวจบ้าน | ต.ตรวจบ้านพาดูน้ำรั่วฝ้าด้วยกล้องวัดอุณหภูมิ!!!"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h5 class="card-title">ตรวจบ้าน ตรวจคอนโด ก่อนรับโอน by ต.ตรวจบ้าน |
                                ต.ตรวจบ้านพาดูน้ำรั่วฝ้าด้วยกล้องวัดอุณหภูมิ!!!</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                <div class="row g-0">
                    <div class="col-md-7">
                        <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/eyqyh2nOewE"
                            title="ตรวจบ้าน ตรวจคอนโด ก่อนรับโอนกรรมสิทธิ์ by ต.ตรวจบ้าน I วิธีตรวจสอบการรั่วซึมโดยกล้องวัดอุณหภูมิ"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h5 class="card-title">ตรวจบ้าน ตรวจคอนโด ก่อนรับโอนกรรมสิทธิ์ by ต.ตรวจบ้าน I
                                วิธีตรวจสอบการรั่วซึมโดยกล้องวัดอุณหภูมิ
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('partials/footer.ejs') %>