<%- include('partials/navbar.ejs') %>
    <br>
    <div class="container">
        <%- include('partials/videonavbar.ejs') %>
            <br>
            <div class="row g-10" id="style-justify-content-for-viedo">
                <div class="card" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/5Y9ur1Tinto"
                                title="ตรวจสอบระบบป้องกันไฟดูดในบ้าน" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบระบบป้องกันไฟดูดในบ้าน</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/ewBRlikK8gQ"
                                title="ตรวจสอบการทำงานของของพัดลมดูดอากาศ" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบการทำงานของของพัดลมดูดอากาศ</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/oZir1q6zNdQ"
                                title="ตรวจสอบไฟฉุกเฉินในบ้าน" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบไฟฉุกเฉินในบ้าน</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/A7vUrgi7IK0"
                                title="ตรวจสอบสายสัญญาณ TV" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบสายสัญญาณ TV</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/qdTwTero_Ps"
                                title="ตรวจสอบค่าความต้านทานหลักดิน" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบค่าความต้านทานหลักดิน</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/eeaIGr8QrXc"
                                title="ตรวจสอบอุณหภูมิ ความร้อนสะสมในตู้ไฟ ด้วยกล้องอินฟาเรด" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบอุณหภูมิ ความร้อนสะสมในตู้ไฟ ด้วยกล้องอินฟาเรด</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/pQ-05JFbG-A"
                                title="ตรวจสอบการเข้าสายเต้ารับไฟฟ้าด้วย Circuit Analyzer" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบการเข้าสายเต้ารับไฟฟ้าด้วย Circuit Analyzer</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/5VMgaPMu1b8"
                                title="ตรวจสอบขั้วเต้ารับด้วยเครื่อง Socket Tester" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบขั้วเต้ารับด้วยเครื่อง Socket Tester</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/eew9XR7X5KI"
                                title="การตรวจสอบลำดับเฟสด้วยเครื่อง 3 Phase Rotation Tester" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">การตรวจสอบลำดับเฟสด้วยเครื่อง 3 Phase Rotation Tester</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/Lqn7mgfJ2wA"
                                title="ตรวจสอบการเข้าสายสัญญาณ LAN" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบการเข้าสายสัญญาณ LAN</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/TS4yo6bpOp0"
                                title="การตรวจวัดแรงดันภายในตู้ไฟฟ้า ด้วยเครื่อง Mini Clamp Meter" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจวัดแรงดันภายในตู้ไฟฟ้า ด้วยเครื่อง Mini Clamp Meter</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/t2LedhVqRFw"
                                title="การตรวจวัดแรงดันภายในตู้ไฟฟ้าด้วยเครื่อง Clamp Meter" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจวัดแรงดันภายในตู้ไฟฟ้าด้วยเครื่อง Clamp Meter</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/Lqn7mgfJ2wA"
                                title="ตรวจสอบการเข้าสายสัญญาณ LAN" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ทดสอบเบรกเกอร์กันดูดด้วยเครื่อง RCD/Loop Tester</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/6L4aocupzXE"
                                title="การตรวจสอบการทำงานของเต้ารับ USB" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบการทำงานของเต้ารับ USB</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/q8K6k2_K44c"
                                title="การตรวจสอบกระแสไฟฟ้าด้วยเครื่อง Non-Contact Voltage Detector" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบกระแสไฟฟ้าด้วยเครื่อง Non-Contact Voltage Detector</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/vZXYj2rQZ-4"
                                title="การตรวจสอบสายสัญญาณ TEL ด้วยเครื่อง Cable Tester" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบสายสัญญาณ TEL ด้วยเครื่อง Cable Tester</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/yxFJAhlC33U"
                                title="การตรวจวัดแรงดันภายในตู้ไฟฟ้าด้วยเครื่อง Electrical Tester" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจวัดแรงดันภายในตู้ไฟฟ้าด้วยเครื่อง Electrical Tester</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px; border: 0; margin: 10px;">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <iframe class="img-fluid rounded-start" src="https://www.youtube.com/embed/Tiik2GahPyw"
                                title="ตรวจสอบการติดตั้งมิเตอร์ไฟฟ้า" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">ตรวจสอบการติดตั้งมิเตอร์ไฟฟ้า</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <%- include('partials/footer.ejs') %>